version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=issuehub

    ports:
      - "5432:5432"



  backend:
    build: ./backend

    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

    volumes:
      - ./backend:/app

    ports:
      - "8000:8000"

    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/issuehub
      - SECRET_KEY=CHANGE_THIS_SECRET_KEY_IN_PRODUCTION
      - ACCESS_TOKEN_EXPIRE_MINUTES=30

    depends_on:
      - db

  frontend:
    build: ./frontend

    volumes:
      - ./frontend:/app
      - /app/node_modules

    ports:
      - "5173:5173"

    environment:
      - VITE_API_URL=http://localhost:8000

    command: sh -c "npm install && npm run dev -- --host"



volumes:
  postgres_data:
